%centered {
    left: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%cover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slider {
    @extend %cover;
    position: relative;
}

.slider__links {
    bottom: 40vh;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 10000;
    letter-spacing: 0;
    display: none;
    li {
        display:none;
        &:first-child, &:last-child {
            display: block;
            font-size: 4rem;
            color: $ca-black;
            text-shadow: -1px 0 0 $ca-white, 1px 0 0 $ca-white, 0 -1px 0 $ca-white, 0 1px 0 $ca-white;
        }
        &:first-child {
            float: left;
            padding-left: $ca-pagepad;
        }
        &:last-child {
            float: right;
            padding-right: $ca-pagepad;
        }
    }
}

.slider__link {
    cursor: pointer;
    display: inline; 
    margin: 0;
    padding: 0 0.5em;
}

.slider__viewport {
    @extend %cover;
    overflow: hidden;
}

.slider__rails {
    @extend %cover;
    cursor: ew-resize;
    transition: left 0.5s ease;
}

.slider__slide {
    @extend %cover;
    background-position: 50% 50%;
    background-size: cover;

    & > * {
        @extend %centered;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        -webkit-user-drag: none;
        z-index: -1;
    }
}