// SCSS Imports
@import "compass/css3";
@import "fontawesome";
@import "base";
@import "loading-bar";

// Pure Framework
@import "pure";

* {
	box-sizing: border-box;
}

// Text Highlight
::selection {
	background: $ca-blue;
	color: $ca-black;
	}
::-moz-selection {
	background: $ca-blue;
	color: $ca-black;
}

// Headers
h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-weight: 400;
	line-height: 1.2;
	font-size: 3rem;
}
.heading {
	@extend h1;
	margin: .1em 0;
	line-height: 1.4;
	display: inline-block;
	position: relative;
}

// Standard Classes
.sub {
	@include opacity(.66);
}
.note {
	color: $ca-blue;
}
.floatfix:after {
  content: "";
  display: table;
  clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.transition-slow {
	@include transition(all .8s ease-in-out);
}
.transition-std {
	@include transition(all .4s ease-in-out);
}
.transition-fast {
	@include transition(all .1s ease-in-out);
}
.radio-label {
	cursor: pointer;
}
.mobile {
	display: block;
}
.desktop {
	display: none;
}
#loading-bar { 
	.bar {
		top: calc(1.92rem + 36px);
	}
	.peg {
		width: 10%;
	}
}
#loading-bar-spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(1.92rem + 40px);
	width: 100%;
	.spinner-icon {
		width: 16px;
		height: 16px;
		border-width: 2.5px;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// Forms
input {
	@include default-font;
	outline: none;
	color: $ca-white;
	background: transparent;
	border: none;
}

// General Layout
body {
	@include default-font;
	color: $ca-black;
	position: relative;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Source Code Pro', monospace;
}
.section {
	max-width: 1280px;
	margin: 0 auto;
}
.pure-button {
	@include control-font;
	@extend .transition-fast;
	color: $ca-white;
	background: $ca-red;
	padding: 0.55em 1em .45em 1em;
	&:hover {
		background: $ca-red-lighter;
	}
}
.controls {
	&.mobile {
		display: block;
		background: $ca-black;
		color: $ca-white;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		z-index: 1;
		& > ul {
			list-style: none;
			& > li {
				cursor: pointer;
			}
		}
	}
}
.content-wrap {
	@extend .transition-slow;
	position: relative;
	z-index: 5;
	left: 0;
	background: $ca-blue-lighter;
}
#masthead {
	width: 100%;
	padding: 20px;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background: $ca-white;
	color: $ca-black;
	> * {
		vertical-align: middle;
	}
	h1 {
		@extend .left;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.1;
		margin: 0;
		i {
			font-size: 0.65em;
			display: inline-block;
			margin-left: .07em;
			vertical-align: 0.06em;
		}
	}
	.note {
		font-weight: 900;
		margin-left: -.275em;
	}
	.loader {
		position: absolute;
		margin: .5em 0 0 0;
	}
	.controls {
		text-align: right;
		float: right;
		button {
			margin-left: 1em;
		}
	}
	.control {
		display: inline-block;
		margin-left: .5em;
	}
}
.cta-button {
	display: block;
	margin-top: 1.7em;
	font-size: 1.2em;
}
#content {
	@extend .transition-std;
	padding: calc(1.92rem + 40px) 20px 20px;
	width: 100%;
	overflow: hidden;
	position:relative;
	.wrapper {
		@include box-sizing;
		padding: 20px;
		float: left;
	}
}
#sectionMenu {
	height: 100%;
	font-size: 1.6rem;
	background: $ca-blue;
	position: relative;
	li {
		@extend .sub;
		cursor: pointer;
		margin-bottom: .25em;
		&.active {
			@include opacity(1);
			&:after {
				content:'\25BA';
				display: block;
				color: $ca-blue;
				position: absolute;
				margin-top: -1.44em;
				right: -.8em;
				font-family: Arial, sans;
				transform: scale(1,2);
			}
		}
	}
}
#heart, #heart-background, #heart-text-overlay {
	height: 100vw;
}
#heart, #heart-background {
	position: absolute;
	top: calc(1.92rem + 40px);
	left: 0;
}
#heart {
	width: 100vw;
	z-index: 5;
	background-image:
		-webkit-radial-gradient(66.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-webkit-radial-gradient(33.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-webkit-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-webkit-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		-o-radial-gradient(66.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-o-radial-gradient(33.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-o-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-o-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		-moz-radial-gradient(66.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-moz-radial-gradient(33.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		-moz-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-moz-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		radial-gradient(66.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		radial-gradient(33.5% 85.5%, circle, transparent 36%, $ca-blue-lighter 36%),
		linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-size: 50% 50%;
	background-position: top left, calc(100% - 1px) 0%, 0% calc(100% - 1px), calc(100% - 1px) calc(100% - 1px); // accounts for Chrome rounding errors
	background-repeat: no-repeat;
}
#heart-background {
	z-index: 0;
	width: calc(100vw - 40px);
	height: calc(100vw - 40px);
	left: 20px;
	background: transparent url('../images/background.jpg') center center no-repeat;
	background-size: cover;
}
#heart-text-overlay {
	z-index: 10;
	position: relative;
}
.scroll {
	@include opacity(1);
	margin-top: 0;
}

// Tablet
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 5rem;
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}