// SCSS Imports
@import "compass/css3";
@import "fontawesome";
@import "base";
@import "loading-bar";

// Pure Framework
@import "pure";

* {
	box-sizing: border-box;
}

// Text Highlight
::selection {
	background: $ca-blue;
	color: $ca-black;
	}
::-moz-selection {
	background: $ca-blue;
	color: $ca-black;
}

// Headers
h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-weight: 200;
	line-height: 1.2;
}
.heading {
	@extend h1;
	margin: .1em 0;
	line-height: 1.4;
	display: inline;
	[contenteditable] {
		display: inline-block;
		white-space: pre;
		border-bottom: 1px solid $ca-white;
		vertical-align: 0%;
		&:hover {
			color: $ca-blue;
			border-color: $ca-blue;
		}
		&:hover, &:focus, &:active {
			color: $ca-blue;
			border-color: $ca-blue;
		}
		&:empty:before {
			width: 1ex;
			height: 1em;
		}
		&:focus{
			outline: 0;
		}
		&.slider-controlled {
			border-color: transparent;
		}
		* {
			display: inline;
		}
		br {
			display: none;
		}
	}
	[contenteditable="false"] {
		&:hover {
			color: $ca-white;
		}
	}
}

// Standard Classes
.sub {
	@include opacity(.66);
}
.note {
	color: $ca-blue;
}
.floatfix:after {
  content: "";
  display: table;
  clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.transition-slow {
	@include transition(all .8s ease-in-out);
}
.transition-std {
	@include transition(all .4s ease-in-out);
}
.transition-fast {
	@include transition(all .1s ease-in-out);
}
.radio-label {
	cursor: pointer;
}
#loading-bar { 
	.bar {
		top: calc(1.92rem + 38px);
	}
	.peg {
		width: 10%;
	}
}
#loading-bar-spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(1.92rem + 40px);
	width: 100%;
	.spinner-icon {
		width: 16px;
		height: 16px;
		border-width: 2.5px;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// Forms
input {
	@include default-font;
	@include text-shadow(0 0 1px $ca-gray-70);
	outline: none;
	color: $ca-white;
	background: transparent;
	border: none;
}

// Desktop
body {
	@include default-font;
	background: $ca-blue-lighter;
	color: $ca-white;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Source Code Pro', monospace;
}
.section {
	max-width: 1280px;
	margin: 0 auto;
}
.pure-button {
	@include control-font;
	@extend .transition-fast;
	color: $ca-white;
	background: $ca-blue;
	padding: 0.55em 1em .45em 1em;
	&:hover {
		background: $ca-blue;
		color: $ca-black;
	}
	&.note {
		color: $ca-black;
		background: $ca-blue;
		&:hover {
			background: $ca-blue-lighter
		}
	}
	&.danger {
		background: $ca-red;
		&:hover {
			background: $ca-red-lighter;
		}
	}
}
#masthead {
	width: 100%;
	padding: 20px;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background: $ca-gray-70;
	color: $ca-white;
	> * {
		vertical-align: middle;
	}
	h1 {
		@extend .left;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.1;
		margin: 0;
	}
	.note {
		font-weight: 900;
		margin-left: -.275em;
	}
	.loader {
		position: absolute;
		margin: .5em 0 0 0;
	}
	.controls {
		text-align: right;
		button {
			margin-left: 1em;
		}
	}
	.control {
		display: inline-block;
		margin-left: .5em;
	}
}
.cta-button {
	display: block;
	margin-top: 1.7em;
	font-size: 1.2em;
}
#content {
	@include text-shadow(0 0 1px $ca-gray-70);
	@extend .transition-std;
	padding: calc(1.92rem + 40px) 20px 20px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.wrapper {
		@include box-sizing;
		padding: 20px;
		float: left;
	}
}
#sectionMenu {
	height: 100%;
	font-size: 1.6rem;
	font-weight: 400;
	background: $ca-blue;
	position: relative;
	li {
		@extend .sub;
		cursor: pointer;
		margin-bottom: .25em;
		&.active {
			@include opacity(1);
			&:after {
				content:'\25BA';
				display: block;
				color: $ca-blue;
				position: absolute;
				margin-top: -1.44em;
				right: -.8em;
				font-family: Arial, sans;
				transform: scale(1,2);
			}
		}
	}
}
#ng-searchCamera {
	&:empty:before {
		content: "any camera";
	}
	&:before {
		content: "a ";
	}
}
#ng-searchFl {
	&:after {
		content: "mm"
	}
	&:empty:after {
		content: "any focal length";
	}
	&:hover, &:active, &:focus {
		&:after {
			opacity: .5;
		}
		&:empty:after {
			opacity: 1;
		}
	}
}
#ng-searchAv {
	&:before {
		content: "f/"
	}
	&:empty:before {
		content: "any aperture";
	}
}
#ng-searchTv {
	&:empty:before {
		content: "any shutter speed";
	}
}
.slider-wrap {
	@extend .transition-slow;
	position: relative;
	display: inline-block;
	slider {
		@extend .transition-slow;
		position: absolute;
		left: 0px;
		width: 100%;
		max-width: 100%;
		margin: 0px;
		color: $ca-white;
		height: 1px;
		bottom: 0;
		.bar {
			@extend .transition-slow;
		}
		span.pointer {
			margin-left: -10px;
			border: 0;
			&:after {
				background-color: $ca-gray-40;
			}
			&:hover {
				&:after {
					background-color: $ca-gray-70;
				}
			}
			&:active {
				&:after {
					background-color: $ca-blue;
				}
			}
		}
	}
}

// Tablet
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 3rem;
	}
}