// SCSS Imports
@import "compass/css3";
@import "fontawesome";
@import "base";
@import "loading-bar";

// Pure Framework
@import "pure";
@import "pure-grids";

// Image slider
@import "image-slider";

// Mobile menu
@import "angular-snap";

* {
	box-sizing: border-box;
}

// Text Highlight
::selection {
	background: $ca-blue;
	color: $ca-black;
	}
::-moz-selection {
	background: $ca-blue;
	color: $ca-black;
}

// Headers
h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-weight: 400;
	line-height: 1.2;
	font-size: 3rem;
}
.heading {
	@extend h1;
	font-size: 1.3em;
	margin: .1em 0;
	line-height: 1.6;
	display: inline-block;
	position: relative;
}
.subheading {
	position: relative;
}

// Standard Classes
.sub {
	@include opacity(.66);
}
.note {
	color: $ca-blue;
}
.floatfix:after {
  content: "";
  display: table;
  clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.transition-slow {
	@include transition(all .8s ease-in-out);
}
.transition-std {
	@include transition(all .4s ease-in-out);
}
.transition-fast {
	@include transition(all .1s ease-in-out);
}
.radio-label {
	cursor: pointer;
}
.mobile {
	display: block;
}
.desktop {
	display: none;
}
blink {
	-webkit-animation: blink 1s steps(2, start) infinite;
	-moz-animation:    blink 1s steps(2, start) infinite;
	-o-animation:      blink 1s steps(2, start) infinite; 
	animation:         blink 1s steps(2, start) infinite;
}
.click-through {
	pointer-events: none;
	> * {
		pointer-events: auto;
	}
}
#loading-bar { 
	.bar {
		top: calc(1.825rem + 38px);
	}
	.peg {
		width: 10%;
	}
}
#loading-bar-spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(1.825rem + 40px);
	width: 100%;
	.spinner-icon {
		width: 16px;
		height: 16px;
		border-width: 2.5px;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// Forms
input {
	@include default-font;
	outline: none;
	color: $ca-white;
	background: transparent;
	border: none;
}

// Angular
.view-animate {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
    @extend .transition-slow;
}
.view-animate.ng-enter,
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}
.view-animate.ng-leave,
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

// General Layout
body {
	@include default-font;
	background: $ca-blue-lighter;
	color: $ca-black;
	position: relative;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Source Code Pro', monospace;
}
blockquote {
	margin: 0;
}
.emphasized {
	color: $ca-red;
	text-decoration: underline;
}
.section {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding: 80px 0;
	border-top: 1px solid $ca-blue-darker;
	&:first-of-type, .section {
		border: none;
	}
	.section {
		padding: 0 $ca-pagepad;
		max-width: 1280px;
	}
}
.section-full {
	height: 100%;
}
.pure-button {
	@include control-font;
	@extend .transition-fast;
	color: $ca-white;
	background: $ca-red;
	padding: 0.5em 1em .5em 1em;
	&:hover {
		background: $ca-red-lighter;
	}
	& + .pure-button {
		margin-left: 1em;
	}
}
.snap-content {
	background: $ca-blue-lighter;
}
.snap-drawer {
	background: $ca-gray-40;
}
.controls {
	&.mobile {
		& > ul {
			list-style: none;
			padding: 0;
			margin: 0;
			& > li {
				& + li {
					border-top: 1px solid $ca-black;
				}
				&:last-child {
					border-bottom: 1px solid $ca-black;
				}
				a {
					@extend .pure-button;
					@include border-radius(0);
					margin: 0 !important;
					padding: 1em 0;
					display: block;
					text-align: center;
					background: $ca-gray-40;
					z-index: 5;
					&:hover {
						background: $ca-red;
					}
				}
			}
		}
	}
}
.content-wrap {
	@extend .transition-slow;
	position: relative;
	z-index: 5;
	left: 0;
}
#masthead {
	width: 100%;
	padding: 20px $ca-pagepad;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background: $ca-white;
	color: $ca-black;
	> * {
		vertical-align: middle;
	}
	h1 {
		@extend .left;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.1;
		margin: 0;
		i {
			font-size: 0.65em;
			display: inline-block;
			margin-left: .07em;
			vertical-align: 0.06em;
		}
	}
	.note {
		font-weight: 900;
		margin-left: -.275em;
	}
	.loader {
		position: absolute;
		margin: .5em 0 0 0;
	}
	.controls {
		text-align: right;
		float: right;
		.pure-button {
			background: transparent;
			color: $ca-black;
			padding-right: 0;
			&:hover {
				color: $ca-gray-40;
			}
			&:active {
				box-shadow: none;
			}
			&.active {
				@extend .pure-button;
				color: $ca-white;
				background: $ca-red;
				padding-right: 1em;
				margin-right: -1em;
			}
		}
	}
	.control {
		display: inline-block;
		margin-left: .5em;
	}
	.section {
		padding: 0;
	}
}
.cta-button {
	display: block;
	margin-top: 1em;
	font-size: 1.2em;
}
span.cta-button, a.cta-button {
	display: inline-block;
}
.cta-wrap {
	text-align: center;
}
.width-limited {
	display: block;
	max-width: 640px;
	margin: 0 auto;
}
#content {
	@extend .transition-slow;
	position: absolute;
	z-index: 2;
	padding: calc(1.825rem + 40px) $ca-pagepad 0;
	width: 100%;
	background: $ca-blue-lighter;
	.wrapper {
		@include box-sizing;
		padding: $ca-pagepad;
		float: left;
	}
}
#footer {
	color: $ca-gray-40;
	position: relative;
	padding: 30px 0;
}
#sectionMenu {
	height: 100%;
	font-size: 1.6rem;
	background: $ca-blue;
	position: relative;
	li {
		@extend .sub;
		cursor: pointer;
		margin-bottom: .25em;
		&.active {
			@include opacity(1);
			&:after {
				content:'\25BA';
				display: block;
				color: $ca-blue;
				position: absolute;
				margin-top: -1.44em;
				right: -.8em;
				font-family: Arial, sans;
				transform: scale(1,2);
			}
		}
	}
}
#heart, #heart-background, #heart-bounding-box {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	max-height: 1280px;
	max-width: 1280px;
}
#heart-bounding-box {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 6vw;
}
#heart, #heart-background, #heart-text-overlay {
	position: absolute;
	margin: auto;
	top: 12vw;
	right: 0;
	bottom: 0;
	left: 0;
}
#heart {
	@include box-shadow (0 -12vw 0 0 $ca-blue-lighter, 1px 0 0 0 $ca-blue-lighter, inset -1px 0 0 0 $ca-blue-lighter); // accounts for Chrome rounding errors
	z-index: 5;
	max-width: 1284px;
	background-image:
		-webkit-radial-gradient(65.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-webkit-radial-gradient(34.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-webkit-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-webkit-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		-o-radial-gradient(65.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-o-radial-gradient(34.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-o-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-o-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		-moz-radial-gradient(65.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-moz-radial-gradient(34.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		-moz-linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		-moz-linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-image:
		radial-gradient(65.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		radial-gradient(34.5% 72% , circle, transparent 46%, $ca-blue-lighter 46%),
		linear-gradient(225deg, transparent 35%, $ca-blue-lighter 35%),
		linear-gradient(135deg, $ca-blue-lighter 65%, transparent 65%);
	background-size: 50% 50%;
	background-position: top left, calc(100% - 1px) 0%, 0% calc(100% - 1px), calc(100% - 1px) calc(100% - 1px); // accounts for Chrome rounding errors
	background-repeat: no-repeat;
}
#heart-background {
	width: calc(100% - 2px); // accounts for Chrome rounding errors
	z-index: 0;
	top: 0;
	background: transparent url('../images/background.jpg') center center no-repeat;
	background-size: cover;
}
#heart-text-overlay {
	z-index: 10;
	top: 4vw;
	p {
		margin: 0;
	}
}
.section-splash {
	@extend .transition-std;
	z-index: 0;
	padding: 0;
	overflow: hidden;
	& > .section {
		padding-top: 6vw;
	}
	.heading {
		top: .4em;
		width: 100%;
		text-align: center;
	}
	.subheading {
		top: .52em;
		text-align: center;
	}
}
.section-splash-full {
	width: 100vw;
	height: calc(100vh - 1.825rem - 40px);
	top: calc(1.825rem + 40px);
	left: 0;
	position: absolute;
	max-width: none;
	.cta-wrap {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 10vw;
	}
}
.scroll {
	@include opacity(1);
	margin-top: 0;
}
.social-feed, .column-list {
	& > ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		& > li {
			display: inline-block;
			padding-right: 1em;
			margin-bottom: 2em;
		}
	}
	.user {
		img {
			@include border-radius(99px);
			display: block;
			float: left;
			width: 48px;
			height: 48px;
			margin-right: 15px;
		}
		[data-scribe="element:screen_name"] {
			display: none;
		}
	}
	.interact {
		& > a {
			display: inline-block;
			margin-right: 1em;
		}
	}
	.tweet {
		word-wrap: break-word;
		img {
			display: none;
		}
	}
}
.social-feed {
	& > ul > li {
		& > p {
			margin-left: 63px;
		}
	}
}
#map-canvas, #cat-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 0;
}
#cat-canvas {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

// Phablet
@media only screen and (min-width: 800px) {
	.section-splash {
		.heading {
			font-size: 2.5rem;
			line-height: 1.4;
		}
		.subheading {
			font-size: 1.6rem;
			top: .625em;
		}
	}
}

// Tablet & Desktop
@media only screen and (min-width: 1024px) {
	.section-splash {
		.heading {
			font-size: 4rem;
		}
		.subheading {
			top: 1em;
		}
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none !important;
	}
}