<!doctype html>

<html lang="en" ng-app="carloApp">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,900' rel='stylesheet' type='text/css'>
		<link href="css/screen.css" media="all" rel="stylesheet" type="text/css" />

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBM1jRzVNgX5h7tivqED7f2moiy0KWybzw"></script>

		<script src="bin/grunt-combined.js"></script>

		<title>♥</title>

		<meta name="description" content="Celebrating the life of Carlo Flores, and the difference he made to the world.">

		<base href="/">
	</head>

	<body id="appcontainer" ng-controller="carloController">

		<div class="controls mobile">
			<ul>
				<li ng-repeat="section in pageSections" ng-click="sectionClick(section)">{{ section.name }}</li>
			</ul>
		</div>

		<div class="content-wrap">
			<div id="masthead">
				<div class="section pure-g">
					<h1 class="logo pure-u-1-2">Carl<i class="fa fa-gratipay"></i></h1>
					<div class="controls desktop pure-u-1-2">
						<a class="pure-button {{ isActiveSection(section.url) ? 'active' : '' }}" href="/#{{ section.url }}" ng-repeat="section in pageSections" ng-click="sectionClick(section)">{{ section.name }}</a>
					</div>
				</div>
			</div>

			<div id="content" class="view-animate" ng-view></div>

		</div>

	</body>

	<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

</html>