<!doctype html>

<html lang="en" ng-app="carloApp">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,900' rel='stylesheet' type='text/css'>
		<link href="css/screen.css" media="all" rel="stylesheet" type="text/css" />

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.min.js"></script>
		<script src="bin/grunt-combined.js"></script>

		<title>♥</title>

		<base href="/">
	</head>

	<body id="appcontainer" ng-controller="carloController">

		<div class="controls mobile">
			<ul>
				<li ng-repeat="section in pageSections" ng-click="sectionClick(section)">{{ section.name }}</li>
			</ul>
		</div>

		<div class="content-wrap">
			<div id="masthead">
				<div class="section pure-g">
					<h1 class="logo pure-u-1-2">Carl<i class="fa fa-gratipay"></i></h1>
					<div class="controls desktop pure-u-1-2">
						<a class="pure-button {{ isActiveSection(section.url) ? 'active' : '' }}" href="/#{{ section.url }}" ng-repeat="section in pageSections" ng-click="sectionClick(section)">{{ section.name }}</a>
					</div>
				</div>
			</div>

			<div id="content" class="view-animate" ng-view></div>
		</div>

	</body>

</html>