<div class="section">
	<div class="pure-g"><div class="pure-u-1 width-limited">
		<h2>Eulogy by Daniel Lockhart</h2>

		<p>I first met Carlo when he came in to interview for an OPs position at BorderStylo. Lars, here, actually recommended Carlo for the position after turning it down for himself, so I am sure I speak for everyone from BorderStylo when I say thank you, Lars, for bringing Carlo into our lives. We will forever be grateful.</p>

		<p> Having known Carlo for so many years since then, it is a bit hard to remember my first impressions of him. I know he was goofy, self-deprecating, and looked homeless (we had a lot in common). He was also passionate, engaging, and brilliant (like I said, we had a lot in common). We worked very closely together in those early days, and we had a lot of fun.</p>

		<p> As time went on, and I got to know Carlo outside of work, I discovered that the love and passion he brought to work was mirrored by the love and enthusiasm he had in his daily life. Carlo could talk to anyone; the diversity of his friends will attest to that. He was just as at home talking to an engineer at a tech conference as he was to the homeless guys he liked to play chess against in the park. It wasn&rsquo;t faked or insincere, either; he really had love and respect for everyone, from all walks of life. More importantly, and more impressively probably, he also had genuine interest in their lives; he showed the same enthusiasm for everyone else's passions, not just his own.</p>

		<p> Carlo was more than memorable. You only had to meet him once and you would never forget him. I could go on for hours listing the fun and unique things about Carlo, and not come close to running out. I am sure many of you here could do the same, and each of us might have completely different lists. While I will miss Carlo greatly, it brings me great joy knowing how many parts of Carlo will live on in all of us. I know for me personally, so many things I say and do I stole straight from Carlo.</p>

		<p> I mean, his sayings alone make up half my vocabulary: My my. Must be nice. What&rsquo;s up big dog? You know how it is.</p>

		<p> And it isn&rsquo;t just the sayings that I stole from Carlo; I learned so much from having him as my boss, and ever since he asked me to take over the DevOps lead at EdgeCast, I have tried to implement those lessons. He taught me to treat every employee how I would like to be treated, because they will probably end up as my boss one day. He showed me how to shield the rest of the team from blame, while making sure to expose them to the credit they have earned.</p>

		<p> Of all the things I learned from Carlo, however, I think the most profound was the power of saying, &ldquo;I don&rsquo;t know.&rdquo; I have never met another engineer more willing to admit when he doesn&rsquo;t know something than Carlo. Usually, when an engineer doesn&rsquo;t know about something, they will temper their admission in some way: &ldquo;Oh, it has been a while since I used that&#8230; refresh my memory?&rdquo; or &ldquo;I used that a bit, but for something very different&#8230; how are you planning on using it?&rdquo; or anything to prevent the outright admission of &ldquo;I have no idea what that is.&rdquo;</p>

		<p> But not Carlo. He would profess his complete ignorance, but instead of doing so in an embarrassed way, he would do it with excitement; here was his opportunity to learn something new!</p>

		<p> Even more surprising than Carlo&rsquo;s willingness to admit what he didn&rsquo;t know was the way people reacted when he did this. Rather than looking down at Carlo for his lack of knowledge, what I saw were people happy to explain something to him, with no judgement. His enthusiasm to learn was infectious. I saw that his willingness to admit to someone that he doesn&rsquo;t know what they know, followed by his willingness to listen and learn from that person, endeared Carlo to his coworkers to a depth I have rarely seen elsewhere. People loved working with Carlo; this is obvious when you look around at how many of his coworkers are here today.</p>

		<p> I know I loved working with Carlo. We loved to, as he put it, &ldquo;make cool shit together.&rdquo;</p>

		<p> I know many people here have probably heard the story of how I came to work at EdgeCast after leaving BorderStylo. The short version of the story, as Carlo and I like to tell it, goes basically like this: I wasn&rsquo;t really looking for work, Carlo invited me to join him for lunch near his office, we got drunk off of margaritas at El Torito, and next thing I know Carlo has me interviewing with people at the office, and when I sober up I suddenly have a job at EdgeCast.</p>

		<p> Now, while the facts of this story are mostly accurate, it isn&rsquo;t completely true. Yes, I did not know I had interviews set up that day. Yes, I had a few too many margaritas at lunch. But, no, I did not accept the job because I was inebriated or tricked.</p>

		<p> The reason I accepted the job is because I wanted to work with Carlo again.</p>

		<p> Listening to Carlo describe his work and the team he was building at EdgeCast was simply inspiring. I had always been a developer, and didn&rsquo;t have any particular knowledge about, or desire to be, a DevOps engineer. But when Carlo described what we were going to be doing, and who we were going to be working with, I knew I wanted that job. I wanted to work on those things, with Carlo. I am so glad I did.</p>

		<p> Carlo was so impressed with everyone he was working with, and he was never shy about sharing his admiration. If you ever needed a confidence boost, listening to Carlo describe your work to someone else would do the trick every time. He was always your greatest cheerleader. You could not resist his love and enthusiasm.</p>

		<p> I think by now you will have noticed a common theme when anyone talks about Carlo: Love. I am sure everyone here has had Carlo tell them he loves them at least once; and by once, I mean once every time you saw him. I don&rsquo;t think I will ever be able to hear the words &ldquo;Love you&rdquo; without thinking about Carlo.</p>

		<p> While watching the series finale of Parks and Rec the other night, one of the main characters (the great Leslie Knope) said something that brought tears to my eyes with how perfectly it described what was so great about working with Carlo, and why I will miss him so much.</p>

		<p> The line was:</p>

		<p> &ldquo;You know, Teddy Roosevelt once said, &lsquo;Far and away the best prize that life has to offer is a chance to work hard at work worth doing.&rsquo; And I would add that what makes work worth doing is getting to do it with people that you love.&rdquo;</p>

		<p> I am so glad I got to do just that with Carlo.</p>

		<p> Thank you</p>

	</div></div>
</div>