<div class="section section-splash section-splash-full pure-g">
	<slider>
		<slide><img src="images/slideshow-service/L1036105.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036107.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036110.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036112.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036121.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036124.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036126.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036129.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036132.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036215.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036217.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036236.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036240.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036243.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036246.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036250.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036253.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036260.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036262.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036270.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036281.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036284.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036292.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036296.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036303.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036304.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036309.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036312.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036314.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036326.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036330.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036332.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036348.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036351.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036355.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036364.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036367.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036376.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036380.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036383.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036386.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036392.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036396.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036404.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036408.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036412.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036417.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036418.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036422.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036424.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036435.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036437.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036445.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036449.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036453.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036460.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036461.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036465.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036472.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036474.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036477.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036479.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036480.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036487.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036491.jpg"/></slide>
		<slide><img src="images/slideshow-service/L1036494.jpg"/></slide>
	</slider>
</div>