<div class="section column-list">
	<ul class="pure-g">
		<li class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<h2>National Suicide Prevention Lifeline</h2>
			<p>Your online gift to the National Suicide Prevention Lifeline will support our suicide prevention services and help us to prevent further deaths.</p>
			<div class="cta-wrap">
				<a class="cta-button pure-button" href="http://www.suicidepreventionlifeline.org/GetInvolved/Donate">Contribute</a>
			</div>
		</li>
		<li class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<h2>The Carlo Flores Memorial Fund</h2>
			<p>Your contributions to this memorial fund will go to help support the family of Carlo Flores.</p>
			<div class="cta-wrap">
				<a class="cta-button pure-button" href="https://www.giveforward.com/fundraiser/6vt7">Contribute</a>
			</div>
		</li>
		<li class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<h2>This Website</h2>
			<p>loveyoucarlo.la is open source and GPL'ed. Please help me make it better by making a fork and submitting a pull request.</p>
			<div class="cta-wrap">
				<a class="cta-button pure-button" href="https://github.com/loveyoucarlo/loveyoucarlo.github.io">Contribute</a>
			</div>
		</li>
	</ul>
</div>