<div class="section section-splash section-splash-full pure-g">
	<div id="map-canvas"  ng-init="initGMap()"></div>
	<div class="section click-through">
		<div class="heading emphasized pure-u-1">
			Saturday, Mar 7 11am &mdash; 2pm
		</div>
		<div class="subheading pure-u-1">
			601-D Crane St., Lake Elsinore, CA 92530
		</div>
		<div class="cta-wrap">
			<a class="cta-button pure-button" href="https://goo.gl/maps/7qo4q">Get Directions</a>
			<a class="cta-button pure-button" href="http://eepurl.com/be0kMf">Join Us</a>
		</div>
	</div>
</div>