<div class="section section-splash section-splash-full pure-g">
	<slider>
		<slide src="images/slideshow/L1017368.jpg"></slide>
		<slide src="images/slideshow/L1017392.jpg"></slide>
		<slide src="images/slideshow/L1023866.jpg"></slide>
		<slide src="images/slideshow/L1023875.jpg"></slide>
		<slide src="images/slideshow/L1023878.jpg"></slide>
		<slide src="images/slideshow/L1023895.jpg"></slide>
		<slide src="images/slideshow/L1025951.jpg"></slide>
		<slide src="images/slideshow/L1029247.jpg"></slide>
		<slide src="images/slideshow/L1031868.jpg"></slide>
		<slide src="images/slideshow/L1034878.jpg"></slide>
	</slider>
</div>