<div class="section pure-g section-splash">
	<div id="heart-bounding-box"></div>
	<div id="heart-background" class="scroll"></div>
	<div id="heart"></div>
	<div id="heart-text-overlay" class="pure-u-1">
		<div class="heading heading-splash scroll scroll-slow" ng-init="makeTribute()">
			<blockquote cite="{{ displayedTribute.link }}">
				<p data-tribute="{{ displayedTribute.content }}"><span id="tribute-text"></span><blink>_</blink></p>
				<cite><a href="{{ displayedTribute.link }}">{{ displayedTribute.author }}</a></cite>
			</blockquote>
		</div>
	</div>
</div>

<div class="section">
	<div id="twitter-feed" class="social-feed"></div>
	<div class="cta-wrap"><a id="write-tweet" class="cta-button pure-button" href="https://twitter.com/intent/tweet?text=%40lolcatstevens">Write Something</a></div>
</div>