<div class="section pure-g">
	<div id="heart-bounding-box"></div>
	<div id="heart-background" class="scroll"></div>
	<div id="heart"></div>
	<div id="heart-text-overlay" class="pure-u-lg-1-2 pure-u-1-1">
		<div class="heading heading-splash scroll scroll-slow" ng-init="makeTribute()">
			<blockquote cite="{{ displayedTribute.link }}">
				<p>{{ displayedTribute.content }}</p>
				<cite><a href="{{ displayedTribute.link }}">{{ displayedTribute.author }}</a></cite>
			</blockquote>
		</div>
	</div>
</div>
<div class="section pure-g">
	<div class="social-feed">asdfasdf</div>
</div>