<div class="section pure-g section-splash">
	<div id="heart-bounding-box"></div>
	<div id="heart-background" class="scroll"></div>
	<div id="heart"></div>
	<div id="heart-text-overlay" class="pure-u-1">
		<div class="heading heading-splash scroll scroll-slow" ng-init="makeTribute()">
			<blockquote cite="{{ displayedTribute.link }}">
				<p>{{ displayedTribute.content }}<blink>_</blink></p>
				<cite><a href="{{ displayedTribute.link }}">{{ displayedTribute.author }}</a></cite>
			</blockquote>
		</div>
	</div>
</div>
<div class="section pure-g">
	<div class="pure-u-md-1-2 pure-u-1">
		<div id="twitter-feed" class="social-feed"></div>
	</div>
</div>